<div class="background-img">
	
</div>
<section class="content">
	<p #sambuca><em>SAMBUCA</em></p>
	<p #cest>C'est<span #pointUn>.</span><span #pointDeux>.</span><span #pointTrois>.</span></p>
   	<div class="duo">
		<h2 #duoTitle>Un duo...</h2>
		<img src="../../../assets/compressed/bio.jpg" #duoImg>
		<!-- <article #article>
				<p>
					Cum autem commodis intervallata temporibus convivia longa et noxia coeperint apparari vel distributio sollemnium sportularum, anxia deliberatione tractatur an exceptis his quibus vicissitudo debetur, peregrinum invitari conveniet, et si digesto plene consilio id placuerit fieri, is adhibetur qui pro domibus excubat aurigarum aut artem tesserariam profitetur aut secretiora quaedam se nosse confingit.
				</p>
			</article> -->	
	</div>
	<div class="collaborateurs row">
		<h2 class="col-sm-6 col-12" #collabTitle>...et un collaborateur</h2>
		<div class="col-sm-6 col-12">
			<img src="../../../assets/julio.png" #collabImg>
		</div>		
	</div>
</section>
<app-footer></app-footer>