<footer>
	<article>
		<p>
	  		&copy; {{ date | date:'yyyy' }} - <em>Sambuca</em>
	  	</p>
	</article>
  	<section>
		<a href="https://www.facebook.com/irene.amata.musica/" target="_blank"><i class="fab fa-facebook-square"></i></a>
		<a href="mailto:sambuca.musique@gmail.com"><i class="fas fa-at"></i></a>
		<a href="https://www.facebook.com/SambucaMusic/" target="_blank"><i class="fab fa-facebook-f"></i></a>
    </section>
    <div>
    	<p>Conçu par <a href="https://www.breyn.net" target="_blank">breyn.net</a></p>
    </div>
</footer>
