<main>
  <app-header></app-header>
  <app-side-music></app-side-music>
  <router-outlet></router-outlet>
</main>

<!-- Le Modal est placé en dehors du main car main est position:relative et le modal ne peut fonctionner correctement à l'intérieur d'un élément en position:relative ou position:fixed 
N.B : le modal apparait dans <app-prestations> -->

<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
 <!--      <div class="modal-header">
   <h4 class="modal-title">{{ mainService.photoClicked }}</h4>
   <button type="button" class="close" data-dismiss="modal">&times;</button>
 </div> -->

      <div class="modal-body">
        <img style="width: 100%" src="{{ mainService.photoClicked }}">
      </div>

<!--       <div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
</div> -->
      
    </div>
  </div>
</div>