<div id="container">
	<div class="background-img" #image>
		<div class="texte" #texte>
			<article>
				<h1>
					SAMBUCA
				</h1>
				<p>
					Sambuca c’est une voix et une guitare sept cordes pour réinventer les rythmes de la samba: un objectif ambitieux, animé par la passion sans limite que Roberto et Irene partagent pour une musique qui vient de loin, mais qu’ils ressentent au plus profond d’eux. Julio Gonçalves vient intégrer la profondeur des rythmes du surdo, la brillance du pandeiro, et le groove de la cuica, dans un répertoire authentique, qui fait voyager des débuts de la samba, jusqu'à la musique populaire brésilienne, en passant par le jazz. <br>
					La bossa nova est présente dans le répertoire, mais en sachant que les plus grands sont passés par là, la sonorité est à la fois nouvelle et authentique, signée Sambuca. La langue portugaise est indissociable des mélodies: ne pas proposer les versions anglaises est un choix assumé, mettant en avant la place prépondérante des paroles originales dans le rythme, et l’osmose qu’elle crée avec la musique. Ainsi comprendre n’est pas nécessaire, ce sont la douceur et la force du son qui retiennent, qui portent, qui éveillent. Les basses portées par la guitare à sept cordes et le rythme animé par la voix, les improvisations qui s’enchainent dans une atmosphère de jeu et d’écoute réciproque, la delicatesse des effets et la justesse du rythme des percussions, tout se melange en capturant l’attention du spectateur.
				</p>
			</article>
		</div>
	</div>
	
	
</div>
<!-- <div>
	<app-footer></app-footer>
</div> -->

